body {
  background: url('../images/concrete_seamless.png');
  margin-bottom: 75px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
}

.header-logo {
  background-color: #4aaaa5;
}

.social-link:hover {
  text-decoration: none;
}

.image-banner {
  bottom: 15px;
  background-color: #4aaaa5;
}

.footer-border {
  border-top: 4px solid #4aaaa5;
}