body {
  background: url('../images/concrete_seamless.png');
  margin-bottom: 75px; /* Make space for sticky footer */
}

.bg-teal {
  background-color: #4aaaa5;
}

.footer-border {
  border-top: 4px solid #4aaaa5;
}

/* All headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #4aaaa5;
}

/* Portfolio Page */
.image-banner {
  bottom: 25px;
  font-size: 2rem;
}

/* Contact Page */
textarea {
  min-height: 100px;
  max-height: 250px;
}
